# Binaries
/camstop
/camstop-*
/camtap
/camtap-*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.test
*.out
coverage.html

# IDE / Editor
.idea/
.vscode/
*.swp
*~

# OS artifacts
.DS_Store

# Local configs and builds
dist/
build/
camstop.yaml
camtap.yaml
camtap.local.yaml
